<!-- LESSON 1: Creating my first basic vue App -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue.js 3 - CDN -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <!-- css styling -->
    <link rel="stylesheet" href="style.css">
    <title>Young Grasshopper - Tutorial 8</title>
</head>
<body>
    <h1>Young Grasshopper</h1>

    <!-- Mounting the Vue App - The Vue app only works within this div with an id of app -->
    <div id="app">
        <!-- dynamic conditional rendering: value will not display if false -->
        <div v-if="showDiscography">
            <ul>
                <!-- loop through all the values in the array and outputs each value using v-for -->
                <!-- change css class dynamically by key-value attribute. Attach the fav class to all values where the data attribute myFav is true -->
                <li v-for="filterDiscographies in discographies" :class="{ fav: discography.myFav}" @click="toggleFav(discography)">
                    <!-- attribute binding - : will allow us to use the data properties so the values become dynamic for the src and alt -->
                    <img :src="discography.img" :alt="discography.album" class="img">
                    <p><span class="bold">Artist:</span> {{ discography.artist }}</p>
                    <p><span class="bold">Album:</span> {{ discography.album }}</p>
                    <p><span class="bold">Genre:</span> {{ discography.genre }}</p>
                </li>
            </ul>
        </div>
        
        <center>
            <button @click="toggleShowDiscography">
                <!-- show 'Hide Discography' text if the value is true' -->
                <span v-if="showDiscography">Hide Discography</span>
                <!-- show 'Show Discography' text if the value is false' using v-else, an else condition if the if statement is not true -->
                <span v-else>Show Discography</span>
            </button>
        </center>
    </div>

    <script src="app.js"></script>
</body>
</html> 